﻿
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
	<div class="container">
		<a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">MyImdb</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
				aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
			<ul class="navbar-nav flex-grow-1 row">
				<li class="nav-item col-1">
					<a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
				</li>
				<li class="nav-item col-1">
					<a class="nav-link text-light" asp-area="" asp-controller="Movie" asp-action="Index">Movie</a>
				</li>
				<li class="nav-item col-2 offset-8">
					<input type="text" class="form-control" placeholder="Search Movie" />
				</li>
			</ul>
		</div>
	</div>
</nav>
