﻿@model MyImdb.ViewModels.MovieCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h3>Add Movie</h3>

<p>Please fill the movie data to add a new movie</p>
<hr />
<div class="row">
	<div class="col-md-6">
		<form asp-action="Create" class="form-horizontal">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Rank" class="control-label"></label>
				<input asp-for="Rank" class="form-control" placeholder="Rank" />
				<span asp-validation-for="Rank" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" placeholder="Title" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Year" class="control-label"></label>
				<input asp-for="Year" class="form-control" placeholder="Year" />
				<span asp-validation-for="Year" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StoryLine" class="control-label"></label>
				<textarea asp-for="StoryLine" class="form-control" placeholder="StoryLine"></textarea>
				<span asp-validation-for="StoryLine" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

