﻿@using MyImdb.ViewModels

@model IEnumerable<MovieListViewModel>

@if (ViewBag.Message != null){
    <div class="alert alert-info">
        <p>@ViewBag.Message</p>
    </div>   
}

@{ 
    Layout = "_Layout";
    ViewData["Title"] = "Movie";
}

<div>
	<div class="row">
		<div class="col-2">
			<h2>Movies</h2>
		</div>
		<div class="col-2 offset-8 text-right">
			<a asp-controller="Movie" asp-action="Create" class="btn btn-primary">
				Add movie
			</a>
		</div>
	</div>

	<table class="table table-striped">
		<tr>
			<th>Title</th>
			<th>Rank</th>
			<th>Year</th>
		</tr>
		@foreach (var movie in Model)
		{
			<tr>
				<td><a asp-controller="Movie" asp-action="MovieInfo" asp-route-id="@movie.Id">@movie.Title</a></td>
				<td>@movie.Rank</td>
				<td>@movie.Year</td>
			</tr>
		}
	</table>

	<a asp-controller="Movie" asp-action="MovieOfTheMonth">See the movie of the month ></a>


</div>
