﻿@using MyImdb.ViewModels;

@model MovieInfoViewModel;

@{
	Layout = "_Layout";
	ViewData["Title"] = "Movie Information";
	var contentTitle = ViewData["ContentTitle"] ?? "Movie Information";
}

@section head {
	<link rel="stylesheet" href="~/css/movie.css" />
}

<div class="container">
	<h3>@contentTitle</h3>

	<div class="movie-container col-sm-8 row">
		<span class="movie-card col-5 justify-content-md-center">Image</span>
		<div class="movie-info col-6">
			<h4>@Model.Title</h4>
			<p><strong>Rank: </strong>@Model.Rank</p>
			<p><strong>Year: </strong>@Model.Year</p>
			<p>@Model.StoryLine</p>
			<button type="button" class="btn btn-primary">Watch Trailer</button>
			<button type="button" class="btn btn-info">Add to Watchlist</button>
		</div>
	</div>

	<a asp-action="Index" asp-controller="Movie" asp->< Back to movies</a>
</div>
