﻿@using MyImdb.ViewModels

@model IndexViewModel;

@{
	ViewData["Title"] = "MyImdb";
}

@section head{
	<link rel="stylesheet" href="~/css/movie.css" />
}

<div class="row">
	<div class="col-md-9">
		<div class="h2">Movies of the Year</div>
		<div class="row">
			@foreach (var movie in Model.MoviesOfTheYear)
			{
					<div class="movie-card col-md-3">
						<a class="movie-text text-center" asp-controller="Movie" asp-action="MovieInfo" asp-route-id="@movie.Id">
								@movie.Title
						</a>
					</div>
			}
		</div>
	</div>

	<div class="col-md-3">
		<div class="h5 text-left">Coming soon</div>
		<ul>
			@foreach (var movie in Model.MoviesComingSoon)
			{
				<li>
					<a asp-controller="Movie" asp-action="MovieInfo" asp-route-id="@movie.Id">
						@movie.Title
					</a>
				</li>
			}
		</ul>
	</div>

</div>

<a asp-controller="Movie" asp-action="Index">See the complete list ></a>
