﻿.movie-card {
	height: 20rem;
	display: flex;
	align-items: flex-end;
	background-color: lightgray;
	padding: 0px;
	margin: 10px;
}

.movie-text{
	width: 100%;
	background-color: dimgray;
	color: white;
	padding: 5px;
}

.movie-container{
	background-color: whitesmoke
}

.movie-info{
	padding: 20px;
}

